@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100svh;
}

/* .dropdown::before {
  width: 3rem;
  height: 3rem;
  content: " ";
  background-color: red;
  border: 2px;
  top: 0px;
  position: absolute;
  right: 30px;
  rotate: 45deg;
  background-color: red;

  z-index: -1;
} */

.image {
  object-fit: cover;
  object-position: top;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  width: 0px;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}
.chat {
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .slide-in {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }

  .slide-out {
    transform: translateX(-105%);
  }
}
